@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .course-work, .location {
        width: 40%;
    }

    nav ul {
        justify-content: flex-start;
    }

    .courses {
        justify-content: space-between;
    }
}
